.items {
  //height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 38px;
  //white-space: nowrap;
}

.noleida {
  padding: 8px;
  color: rgb(5, 59, 104);
  font-weight: 700;
}

.leida {
  padding: 8px;
  color: #797D7F;
  font-weight: 300;
}