ion-card {
    height: 10%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.letra {
    text-shadow: 4px 4px 5px black;
    color: white;
    font-size: 30px;
}