<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="cerrar()" slot="start">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>Atrás
    </ion-button>

    <ion-title>Chats (Secciones)</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let seccion of secciones; let i = index" style="background-image: url({{imgChat}});" (click)="verPadres(i)">
    <p class="letra"><b> {{ seccion.grado_descripcion }} Sección: {{ seccion.seccion_descripcion }} </b></p>
  </ion-card>
  
</ion-content>