<ion-menu side="start" menuId="menu" contentId="main" mode="md">
  <ion-header>
    <ion-toolbar class="menu" color="primary">
      <ion-title class="ion-text-center"> MENÚ </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="menu-content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-item>
            <img src="{{ foto }}" width="200px" height="200px" style="border-radius: 100%;" slot="start" class="img">
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <div class="ion-text-center" style="font-size: 25px;">
            <ion-label><b>{{ nombre }}</b></ion-label>
          </div>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-menu-toggle>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/tab">
            <ion-icon name="home-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Inicio</ion-label>
          </ion-item>
          <!-- <ion-item (click)="verEncuestas()">
            <ion-icon name="document-text-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Encuesta</ion-label>
          </ion-item> -->
          <ion-item (click)="verPagos()">
            <ion-icon name="cash-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Mis Pagos</ion-label>
          </ion-item>
          <!-- <ion-item (click)="verVideoClases()">
            <ion-icon name="videocam-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">VideoClases</ion-label>
          </ion-item> -->
          <ion-item (click)="verActividades()">
            <ion-icon name="create-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Actividades</ion-label>
          </ion-item>
          <!-- <ion-item (click)="verNotas()">
            <ion-icon name="ribbon-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Calificaciones</ion-label>
          </ion-item> -->
          <!-- <ion-item (click)="verReportes()">
            <ion-icon name="newspaper-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Reportes</ion-label>
          </ion-item> -->
          <ion-item (click)="verSoporte()">
            <ion-icon name="settings-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Soporte Técnico</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
  
  <ion-footer>
    <ion-menu-toggle>
      <ion-toolbar>
        <ion-buttons slot="end" mode="ios" class="item-padding-salir">
          <ion-button color="dark" (click)="logOut()">
            <ion-icon slot="start" name="power-outline" class="icon-menu"></ion-icon>
            <ion-note>Salir</ion-note>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-menu-toggle>
  </ion-footer>
</ion-menu>

<ion-header>
  <ion-toolbar color="primary" id="main">

    <ion-buttons slot="start">
      <ion-menu-button menu="menu" class="icon-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize"> Inicio </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-tabs>

      <ion-tab-bar slot="top" class="ion-padding">
        <ion-tab-button tab="notificaciones" (click)="ocultarHome()">
          <ion-icon aria-hidden="true" name="notifications"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="multimedia" (click)="ocultarHome()">
          <ion-icon aria-hidden="true" name="images"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="pinboard" (click)="ocultarHome()">
          <ion-icon aria-hidden="true" name="pin"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="circulares" (click)="ocultarHome()">
          <ion-icon aria-hidden="true" name="document-text"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-bottom: 60px;">
        <ion-fab-button size="medium">
          <ion-icon style="zoom: 1.2;" name="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button style="width: 50px; height: 50px;" (click)="verPagos()">
            <ion-icon name="cash-outline" style="zoom: 1.5;" color="primary"></ion-icon>
          </ion-fab-button>
          <ion-fab-button style="width: 50px; height: 50px;" (click)="verChats()">
            <ion-icon name="chatbubbles-outline" style="zoom: 1.5;" color="primary"></ion-icon>
          </ion-fab-button>
          <!-- <ion-fab-button style="width: 50px; height: 50px;">
            <ion-icon name="people-circle-outline" style="zoom: 1.5;" color="primary"></ion-icon>
          </ion-fab-button> -->
          <!-- <ion-fab-button style="width: 50px; height: 50px;">
            <ion-icon name="calendar-number-outline" style="zoom: 1.5;" color="primary"></ion-icon>
          </ion-fab-button> -->
        </ion-fab-list>
      </ion-fab>

    </ion-tabs>
  </div>

  <ng-container *ngIf="mostrarHome">
    <div>
      <br><br><br><br><br><br><br><br><br>
      <ion-img src="{{ logo }}" class="ion-padding"></ion-img>

      <!-- <div class="ion-text-center ion-padding">
        <ion-label class="ion-padding" color="primary">Te diriges a las videoclases?</ion-label>
      </div>

      <div class="ion-text-center">
        <ion-button size="small" shape="round">
          Ir a videoclases 
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div> -->
    </div>
  </ng-container>

</ion-content>