ion-content {
    --background: linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url('../../../assets/img/fondo.jpg') no-repeat center center / cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding-bottom: 70px;
    margin-top: -10px;
}

.img {
    height: 67%;
    width: 67%;
    margin-left: 17%;
}


.body {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #FFF;
}

ion-item {
    --border-color: transparent !important;
    --background: #f3f3f3;
    border-radius: 14px;
    margin-bottom: 14px;
    margin-top: 1px;
}

ion-input {
    --color: black;
}

ion-list {
    background-color: #FFF;
    padding-top: 2%;
}

.button-1 {
    margin-top: 10%;
}

ion-toolbar {
    --background: white;
}

.icono {
    color: white;
}

ion-title {
    color: #000080;
}

.error-container {
    color: #66615B;
}