<ion-header>
  <ion-toolbar color="primary">

    <ion-button (click)="cerrar()" slot="start">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>Atrás
    </ion-button>

    <ng-container *ngIf="tipo === '7'">
      <ion-title>Reportes de Pañal</ion-title>
    </ng-container>
    <ng-container *ngIf="tipo === '8'">
      <ion-title>Reportes de Golpe</ion-title>
    </ng-container>
    <ng-container *ngIf="tipo === '9'">
      <ion-title>Reportes de Enfermedad</ion-title>
    </ng-container>
    <ng-container *ngIf="tipo === '10'">
      <ion-title>Reportes de Conducta</ion-title>
    </ng-container>

    <ion-button (click)="nuevoReporte()" slot="end">
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding-bottom">
    <ion-grid fixed class="ion-padding-bottom">
      <ion-row>
        <ion-col size="4">
          <ion-avatar>
            <ion-img src="{{ foto }}"
              style="height: 100px; width: 100px; margin-top: 10px; margin-left: 10px;"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="8" style="margin-top: 10px;">
          <label style="font-size: 25px;"><b>{{ nombre }}</b></label><br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding-top">

    <div class="ion-padding">
      <ion-note color="medium">*Deslice hacia la izquierda para ver las opciones</ion-note>
    </div>


    <ion-grid fixed class="ion-padding-top ion-padding-start">
      <ion-row class="ion-padding-top" style="background-color: midnightblue;">
        <ion-col size="2">
          <div class="ion-text-center">
            <ion-label color="light"><b>No</b></ion-label>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-center">
            <ion-label color="light"><b>Titulo</b></ion-label>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-center">
            <ion-label color="light"><b>Fecha</b></ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngFor="let reporte of reportes; let i = index">
    <ion-item>
      <ion-grid fixed class="ion-no-padding">
        <ion-row>

          <ion-item-sliding class="ion-no-padding">
            <ion-item lines="none" (click)="verDetalles(i)">
              <ion-col size="2">
                <div>
                  <ion-label>{{ i + 1 }}</ion-label>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="ion-text-center">
                  <ion-label>{{ reporte.titulo }}</ion-label>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="ion-text-center">
                  <ion-label>{{ reporte.fecha }}</ion-label>
                </div>
              </ion-col>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="light"><ion-icon slot="icon-only" name="create-outline" color="primary" size="large" (click)="editar(i)"></ion-icon></ion-item-option>
              <ion-item-option color="light"><ion-icon slot="icon-only" name="trash-outline" color="danger" ssize="large" (click)="presentAlert(i)"></ion-icon></ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

</ion-content>