ion-card {
    background-image: url("../../../assets/img/clases.jpg");
    height: 10%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}