/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "swiper/css/bundle";

.errors-contact {
    background: #F2DEDE;
    border-radius: 7px;
    color: #66615B;
    padding: 10px 15px 15px 15px;
    margin: 0 auto 10px auto;
    width: 90%;
    text-align: left;
  }
  
  .errors {
    background: #F2DEDE;
    border-radius: 7px;
    color: #66615B;
    padding: 10px 15px 15px 15px;
    margin: -12px auto 10px auto;
    width: 98%;
    text-align: left;
  }

  ion-modal.width-height {
    --border-radius: 8px 30px 30px 30px;
    align-items: center !important;
    --height: 40% !important;
    --width: 30% !important;
    min-width: 250px !important;
    --backdrop-opacity: 0.4 !important;
    top: -17% !important;
  
    @media screen and (max-width: 420px) {
        --height: 45% !important;
        --width: 90% !important;
    }
  }

  .transparent-modal {
    --backgroun: rgba(44, 39, 45, 0.2);

    &::part(content) {
      backdrop-filter: blur(12px);
    }
  }

  button.alert-button.alert-button-confirm {
    color: red;
  }
  
