.multimediaEdit {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    height: 60vw;
    width: 60vw;
}

.multimediaCards {
    margin-top: 25px;
    height: 200px;
    box-shadow: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 60vw;
    width: 60vw;
}