<ion-header>
  <ion-toolbar>
    <ion-title>Pinboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recarga($event)">
    <ion-refresher-content refreshing-spinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" shape="round" color="light" id="click-trigger">
          <ion-icon slot="icon-only" name="filter-outline" class="ion-padding-end"></ion-icon>
          Filtro
        </ion-button>
        <ion-popover trigger="click-trigger" triggerAction="click" size="auto" [dismissOnSelect]="true">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list>
                <ion-item (click)="filtro(0)">Todos</ion-item>
                <ion-item *ngFor="let hijo of hijos; let i = index" (click)="filtro(i+1)">{{ hijo.nombre }} {{ hijo.apellido }}</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngFor="let fecha of postits; let p = index">
    <ion-item-divider color="light" class="cssItem">
      <ion-label>Notas del {{ fecha.date_postit[0].date_grupo }}</ion-label>
    </ion-item-divider>
    <ng-container>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" *ngFor="let postit of fecha.date_postit; let i = index">
            <div class="color1" (click)="detallePostit(p, i)">
              <label class="textfechalit">{{ postit.fecha }}</label>
              <br>
              <label class="textTitulo biography2">{{ postit.titulo }}</label>
              <div class="biography">{{ postit.descripcion }}</div>
              <label class="textPara">Para:</label>
              <br>
              <label class="textCodigo"> {{ postit.target }} </label>
              <br>
              <label class="textPara">{{ postit.seccion }}</label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" disabled="{{ scroll }}">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>